@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

nav {
  border-bottom: 5px solid $primary;
}

.card,
.btn,
.form-control {
  border-radius: 2px !important;
}

#app {
  height: 100vh !important;
}
