$blue: #2ecc71 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: #eaeded !important;
}

nav {
  border-bottom: 5px solid $primary;
}

#app {
  height: 100vh !important;
}

.card,
.btn,
.form-control {
  border-radius: 2px !important;
}

.card {
  border: none;
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.08);
}
